<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- %-40.40c{1.} : %m%n%ex
		</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<RollingFile name="HibernateAppender" fileName="logs/hibernate.log"
			filePattern="logs/hibernate.%d{dd-MMM-hh}.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="2MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="org.hibernate" level="info">
			<AppenderRef ref="HibernateAppender" />
		</Logger>

		<Logger name="org.hibernate.SQL" level="info" additivity="false">
			<AppenderRef ref="HibernateAppender" />
		</Logger>

		<Logger name="org.mongodb" level="warn">
			<Appender-ref ref="ConsoleAppender" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="ConsoleAppender" />
		</Root>
	</Loggers>
</Configuration>